
/* Set a background gradient or image for the body */
body {
  margin: 0;
  padding: 0;
  
  
}

/* Update the search bar styling */
.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  margin-top: 80px;
}

.search-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

#search-input {
  height: 40px;
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 8px;
  margin-right: 10px;
  font-size: 16px;
  background-color: #f5f5f5; /* Set a light background color */
}

#search-input:focus {
  outline: none;
}



button {
  font-family: inherit;
  font-size: 20px;
  background: rgb(65, 225, 76);
  color: white;
  padding: 0.7em 1em;
  padding-left: 0.9em;
  display: flex;
  align-items: center;
  border: none;
  border-radius: 16px;
  overflow: hidden;
  transition: all 0.2s;
}

button span {
  display: block;
  margin-left: 0.3em;
  transition: all 0.3s ease-in-out;
}

button svg {
  display: block;
  transform-origin: center center;
  transition: transform 0.3s ease-in-out;
}

button:hover .svg-wrapper {
  animation: fly-1 0.6s ease-in-out infinite alternate;
}

button:hover svg {
  transform: translateX(1.2em) rotate(45deg) scale(1.1);
}

button:hover span {
  transform: translateX(5em);
}

button:active {
  transform: scale(0.95);
}

@keyframes fly-1 {
  from {
    transform: translateY(0.1em);
  }

  to {
    transform: translateY(-0.1em);
  }
}




#total-rows {
  margin: 10px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

th,
td {
  padding: 12px;
  text-align: left;
}

th {
  font-weight: bold;
  background-color: #41e762;
  color: white;
  text-transform: uppercase;
  font-size: 14px;
  border-top: 2px solid #ddd;
  border-bottom: 2px solid #ddd;
  border-right: 2px solid #ddd;
}

td {
  font-size: 16px;
  border-bottom: 1px solid #ddd;
  border-right: 2px solid #ddd;
}

.highlight {
  background-color: rgba(70, 130, 180, 0.2);
}



