
/* Set background color and margin/padding for the body */
body {
    margin: 0;
    padding: 0;
    background-color: #f5f5f5; /* Set a light background color */
}

/* Update the header (nav-bar) styling */
.nav-bar {
    display: flex;
    width: 100%;
    height: 50px; /* Increased height for a taller header */
    background-color: rgb(44, 220, 94); /* Change to a desired background color */
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.1); /* Update box shadow */
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}

.back-icon {
    font-size: 36px;
    padding: 10px;
    margin-left: 20px;
    cursor: pointer;
    color: #fff; /* Set the color of the back icon to white */
}

.title {
    font-size: 30px;
    font-family: 'Monospace', Rockwell;
    font-weight: 700;
    color: #fff; /* Set the title color to white */
    padding: 10px;
}

.sub-title {
    font-size: 18px;
    font-family: 'Monospace', Rockwell;
    padding: 10px;
    padding-top: 22px;
    color: #ddd; /* Set the subtitle color to a light gray */
}

.file-name {
    margin-left: 18%;
    padding: 17px;
    font-size: 19px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #fff; /* Set the file name color to white */
}
